<div>
Weather in {{ weather.city }}
<table>
  <thead>
    <tr>
      <th>{{ 'Longitude'|t }}</th>
      <th>{{ 'Latitude'|t }}</th>
      <th>{{ 'Temparature'|t }}</th>
      <th>{{ 'Humidity'|t }}</th>
    </tr>
<tr>
      <td>{{ weather.lon }}</th>
      <td>{{ weather.lat }}</th>
      <td>{{ weather.temp }}</th>
      <td>{{ weather.hum }}</th>
    </tr>
</table>
</div>
